form {
    border: rgb(171, 233, 110) 1px;
    background-color: rgb(143, 63, 63);
    padding: 30px 0 30px 10px;
    height: 50px;
    width: 400px;
}


.forma2{
    border: rgb(128, 110, 233) 1px;
    background-color: rgb(109, 145, 243);
    padding: 40px 0 120px 10px;
    height: 50px;
    width: 400px;
}